In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn import metrics
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.mlab import PCA
from sklearn import tree

In [2]:
twitterBots = pd.read_csv('../data/bots_data.csv',encoding='latin-1')
twitterNonBots=pd.read_csv('../data/nonbots_data.csv',encoding='latin-1')
user=pd.read_csv('../data/training_data_2_csv_UTF.csv',encoding='latin-1')
test=pd.read_csv('../data/test_data_4_students.csv')

In [3]:
df=user
df['favourites_count'].replace(['None'], '0')
df['default_profile'].replace(['None'], False)
df['default_profile_image'].replace(['None'], False)
df['screen_name']=df['screen_name'].str.contains('bot', na=False)
df['name']=df['name'].str.contains('bot', na=False)
df['description']=df['description'].str.contains('bot', na=False)
df['created_at'] = df['created_at'].str.replace('"', '')

df

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,created_at,favourites_count,verified,statuses_count,lang,status,default_profile,default_profile_image,has_extended_profile,name,bot
0,8.160000e+17,"""815745789754417152""",False,"""Houston, TX""",False,"""https://t.co/dnWuDbFRkt""",1291,0,10,Mon Jan 02 02:25:26 +0000 2017,0,False,78554,"""en""","{\r ""created_at"": ""Sun Mar 12 15:44:04 +0...",True,False,False,False,1
1,4.843621e+09,4843621225,False,"Templeville town, MD, USA",False,NaN,1,349,0,2/1/2016 7:37,38,False,31,en,null,True,False,False,False,1
2,4.303727e+09,4303727112,True,NaN,True,https://t.co/P1e1o0m4KC,1086,0,14,Fri Nov 20 18:53:22 +0000 2015,0,False,713,en,"{'retweeted': False, 'is_quote_status': False,...",True,False,False,False,1
3,3.063139e+09,3063139353,False,NaN,False,NaN,33,0,8,2/25/2015 20:11,0,False,676,en,Construction of human anti-tetanus single-chai...,True,True,False,False,1
4,2.955142e+09,2955142070,False,"Dublin, United States",False,NaN,11,745,0,1/1/2015 17:44,146,False,185,en,null,False,False,False,False,1
5,8.410000e+17,8.41E+17,False,"Austin, TX",False,NaN,1,186,0,13/03/2017 22:53,0,False,11,en,Status(_api=<tweepy.api.API object at 0x101927...,True,False,True,False,1
6,2.482835e+09,2482834658,False,in a machine.,True,NaN,193,0,19,Wed May 07 22:29:25 +0000 2014,0,False,6068,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,False,1
7,3.333574e+09,3333573622,False,NaN,False,NaN,8227,2,89,Thu Jun 18 22:07:31 +0000 2015,26,False,2597,en,"{u'contributors': None, u'truncated': False, u...",True,False,False,False,1
8,2.996105e+09,2996105102,False,NaN,True,NaN,275,0,17,1/25/2015 17:34,23,False,9922,en,Feeding Schedule And Proteolysis Regulate Auto...,False,False,False,False,1
9,3.271096e+09,3271095818,False,NaN,False,NaN,51,3,9,7/7/2015 15:23,0,False,2515,en,Functional Selectivity in Cytokine Signaling R...,True,False,False,False,1
10,2.717905e+09,2717905134,False,cheese land,False,https://t.co/0cV8vQsQSV,51,1,12,Fri Aug 08 20:23:08 +0000 2014,0,False,111,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,False,1
11,2.826073e+09,2826073429,False,NaN,True,NaN,2,1,4,9/22/2014 9:46,0,False,230,en,ArXiv: Large-scale chromosome folding versus g...,True,True,False,False,1
12,8.100000e+17,8.10E+17,False,NaN,False,None,0,29,0,Sun Mar 12 01:07:25 +0000 2017,0,False,0,en,None,True,True,NaN,False,1
13,1.027584e+09,1027583707,False,NaN,False,None,1,206,0,Sat Dec 22 02:18:49 +0000 2012,0,False,0,en,None,True,True,NaN,False,1
14,3.949913e+08,394991274,False,NaN,False,None,0,38,0,Sun Mar 12 01:06:00 +0000 2017,0,False,0,en,None,True,True,NaN,False,1
15,3.032363e+09,3032363298,False,NaN,False,NaN,109,0,16,Fri Feb 20 08:23:00 +0000 2015,0,False,16067,en,"{u'contributors': None, u'truncated': False, u...",True,False,False,False,1
16,2.568852e+09,2568851552,False,NaN,False,NaN,250,0,25,Sun Jun 15 11:20:31 +0000 2014,0,False,31721,en,"{u'contributors': None, u'truncated': False, u...",True,False,False,False,1
17,2.954704e+09,2954704090,False,"Pensacola, USA",False,NaN,15,1941,1,1/1/2015 11:47,319,False,406,en,null,False,False,False,False,1
18,8.390000e+17,8.39E+17,False,"_._______________, _________",False,NaN,190,1899,0,3/7/2017 22:08,27,False,0,th,NaN,True,True,False,False,1
19,2.835724e+09,2835723644,False,NaN,True,https://t.co/iEclQxz694,181,0,24,Tue Sep 30 04:56:09 +0000 2014,0,False,21506,en,"{u'contributors': None, u'truncated': False, u...",True,True,False,False,1
20,1.918203e+09,1918202534,False,NaN,False,NaN,10175,11465,199,Sun Sep 29 21:35:03 +0000 2013,328,False,65022,en,"{u'contributors': None, u'truncated': False, u...",True,False,False,False,1
21,2.475875e+09,2475875424,False,AMERICA,False,NaN,23,4,8,Sat May 03 19:04:37 +0000 2014,4,False,6230,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,False,1
22,1.909219e+09,1909219404,True,the RGB color space,False,https://t.co/ICFGFTYbjQ,106126,0,999,Thu Sep 26 21:22:10 +0000 2013,2,False,30156,en,"{u'contributors': None, u'truncated': False, u...",True,False,False,False,1
23,4.040207e+09,4040207472,True,Space,False,https://t.co/OSHkLQWgKQ,2302,3,161,Tue Oct 27 23:06:22 +0000 2015,4,False,7640,en,"{'favorited': False, 'id_str': '84113715491497...",False,False,False,True,1
24,3.369547e+09,3369547257,False,â°Ã·Ââ¢Ã¼Â,True,https://t.co/OqsKPUkiXl,443,2,17,7/10/2015 18:30,6,False,9584,en,"Status(in_reply_to_user_id=None, place=None, i...",False,False,False,False,1
25,2.555847e+09,2555847008,False,NaN,False,NaN,27,1,10,Mon Jun 09 01:33:19 +0000 2014,0,False,145,en,"{u'contributors': None, u'truncated': False, u...",True,False,False,False,1
26,2.520450e+09,2520449720,False,#botALLY,False,NaN,191,2,19,Sat May 24 13:13:08 +0000 2014,0,False,5684,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,False,1
27,8.290000e+17,8.29E+17,False,NaN,False,NaN,1,35,1,Mon Feb 06 14:07:17 +0000 2017,54,False,82,en,"{""created_at"": ""Mon Mar 13 02:54:29 +0000 2017...",True,False,False,False,1
28,2.886559e+09,2886558632,False,NaN,True,NaN,651,0,36,11/1/2014 17:27,0,False,19867,en,4-Nitro styrylquinoline is an antimalarial inh...,False,False,False,False,1
29,2.787206e+09,2787206222,False,The Coast Where Wizards Chill,False,NaN,37,45,7,Wed Sep 03 03:39:41 +0000 2014,0,False,191,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2767,1.622870e+07,16228699,False,"Los Angeles, CA",False,http://t.co/DeOnYtIXOY,1017758,6985,9473,Wed Sep 10 21:36:17 +0000 2008,12901,True,13786,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,False,0
2768,2.355272e+09,2355272027,False,"Tucson, AZ",False,NaN,9,97,0,Thu Feb 20 21:40:36 +0000 2014,0,False,1,en,"{""created_at"": ""Sat Apr 12 07:16:37 +0000 2014...",True,False,True,False,0
2769,4.810089e+07,48100887,False,"ÃÃT: 40.735225,-74.006791",False,https://t.co/QN7UEPy7oh,2000567,457,9674,6/17/2009 20:22,901,True,55202,en,"Status(contributors=None, truncated=False, tex...",False,False,False,False,0
2770,2.070461e+08,"""207046071""",False,"""""",False,null,11,53,0,Sun Oct 24 11:36:46 +0000 2010,1,False,13,"""en""","{\r ""created_at"": ""Tue Nov 18 07:52:08 +0...",True,False,False,False,0
2771,1.986142e+07,19861423,False,"Santa Monica, California",False,http://t.co/16k84nRFDc,1599,922,67,Sun Feb 01 15:03:50 +0000 2009,212,False,11240,en,{'created_at': 'Fri Mar 10 06:37:29 +0000 2017...,False,False,True,False,0
2772,1.529274e+09,1529273749,False,NaN,False,NaN,82,91,0,Wed Jun 19 00:48:44 +0000 2013,634,False,704,es,"{'truncated': False, 'entities': {'user_mentio...",False,False,False,False,0
2773,8.002847e+08,800284734,False,"Bangalore, India",False,http://t.co/UELOKZ17Xb,178,325,6,Mon Sep 03 12:16:41 +0000 2012,30,False,405,en,{'created_at': 'Sun Mar 12 12:03:29 +0000 2017...,False,False,False,False,0
2774,8.410000e+17,8.41E+17,False,NaN,False,None,46,233,0,Thu Sep 15 18:20:41 +0000 2011,935,False,285,en,"{""created_at"": ""Fri Mar 10 00:38:52 +0000 2017...",True,False,NaN,False,0
2775,1.817123e+08,181712262,False,Santos,False,NaN,67,168,0,8/22/2010 21:55,0,False,1851,en,"Status(contributors=None, coordinates=None, so...",False,False,False,False,0
2776,1.737285e+07,17372853,False,"Los Angeles, CA",False,NaN,147441,20889,0,Thu Nov 13 21:17:24 +0000 2008,43,True,7648,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,False,0
2777,2.432640e+07,24326400,False,Some where over the rainbow :),False,http://t.co/QYS1k7wfP8,420699,108,5248,Sat Mar 14 04:12:42 +0000 2009,11,True,5568,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,False,0
2778,7.477850e+07,74778498,False,NaN,False,https://t.co/OM2d9x9uh8,63866,21,2037,Wed Sep 16 17:00:34 +0000 2009,40,True,70,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,False,0
2779,7.223549e+07,72235489,False,www.mnrindia.org,False,https://t.co/JdmIKwaIV7,1715,1342,84,9/7/2009 7:57,3688,False,1395,en,"Status(contributors=None, truncated=False, tex...",False,False,True,False,0
2780,3.666757e+08,366675723,False,Brasil/Rio de Janeiro,False,NaN,5,67,0,9/2/2011 16:20,0,False,2,pt,null,False,False,False,False,0
2781,1.391862e+09,1391862175,False,"Mumbai, India",False,NaN,122,88,0,4/30/2013 11:35,325,False,1031,en,"Status(in_reply_to_user_id=None, lang='en', co...",False,False,True,False,0
2782,6.161463e+07,61614633,False,NaN,False,http://t.co/TvnoxtXtLZ,4025,487,117,Thu Jul 30 22:14:39 +0000 2009,18,True,6672,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,False,0
2783,8.410000e+17,8.41E+17,False,Canada,False,https://t.co/SrnbuzpdM9,52,39,0,Fri Jun 17 23:17:50 +0000 2016,689,False,206,en,"{""created_at"": ""Sat Mar 11 17:44:05 +0000 2017...",False,False,NaN,False,0
2784,7.224801e+08,"""722480142""",False,"""Washington, DC Metro Area""",False,"""http://t.co/dV7zMEloBp""",30,72,4,Sat Jul 28 16:47:30 +0000 2012,1,False,926,"""en""","{\r ""created_at"": ""Tue Mar 07 16:19:55 +0...",False,False,False,False,0
2785,2.190714e+07,21907142,False,Worldwide,False,NaN,41776,1158,854,Wed Feb 25 19:36:21 +0000 2009,1264,True,1096,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,False,0
2786,1.021249e+08,102124883,False,"New York, NY",False,NaN,52,323,2,1/5/2010 18:10,696,False,767,en,"Status(contributors=None, truncated=False, tex...",False,False,True,False,0
2787,6.409034e+07,64090343,False,East Coast,False,NaN,972032,3072,1587,Sun Aug 09 02:15:48 +0000 2009,1423,True,22362,en,"{""created_at"": ""Sun Mar 12 18:30:02 +0000 2017...",False,False,False,False,0
2788,1.042267e+08,104226662,False,NaN,False,NaN,26,150,1,Tue Jan 12 17:54:43 +0000 2010,8,False,2,en,"{'retweeted': False, 'is_quote_status': False,...",True,True,False,False,0
2789,1.502883e+07,15028834,False,"Brooklyn, NY",False,https://t.co/tc7peTn8bF,215,462,16,6/6/2008 12:13,812,False,2384,en,"Status(contributors=None, truncated=False, tex...",False,False,False,False,0
2790,5.683425e+07,56834251,False,info@kenna.com,False,http://kenna.com,64219,667,698,Tue Jul 14 22:13:57 +0000 2009,2901,True,85,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,False,0
2791,2.191118e+09,2191117981,False,NaN,False,http://t.co/HeauAEKcWi,310,0,21,11/12/2013 21:58,3,False,3909,en,"Status(contributors=None, truncated=False, tex...",True,False,False,False,0
2792,2.362091e+08,236209129,False,NaN,False,NaN,18998,2005,425,1/10/2011 2:06,2503,False,3498,en,RT @StationCDRKelly: Dreaming of napping in sp...,False,False,True,False,0
2793,2.545039e+08,254503881,False,brooklyn NY,False,http://t.co/CQkADdjfaw,32,54,0,Sat Feb 19 12:12:42 +0000 2011,1,False,97,en,"{'geo': None, 'in_reply_to_status_id': None, '...",True,False,False,False,0
2794,1.548544e+07,15485441,False,"New York, New York",False,http://t.co/fgp5RYqr3T,45044433,7451,68157,7/18/2008 19:46,24,True,9606,en,"Status(contributors=None, truncated=False, tex...",False,False,False,False,0
2795,7.513869e+08,751386872,False,"England, United Kingdom",False,NaN,16,64,1,8/11/2012 14:53,15,False,62,en,{'created_at': 'Sun Feb 26 15:51:57 +0000 2017...,False,False,True,False,0
2796,1.992936e+07,19929362,False,"Ennis, TX",False,http://t.co/UcrfIiWGdl,22490,308,1342,Mon Feb 02 20:30:20 +0000 2009,43,True,1897,en,"{u'contributors': None, u'truncated': False, u...",True,False,True,False,0

In [4]:
df['created_at']=pd.to_datetime(df['created_at'])

In [5]:
import datetime
now = datetime.datetime.now()
df['today']=now
df['daysTillNow'] = df['today']-df['created_at']

In [6]:
df['daysTillNow']=df['daysTillNow'].dt.days
df['statusPerDay']=df['statuses_count']/df['daysTillNow']

In [7]:
tf=test
tf = tf.rename(columns={'favourites_count': 'favourites_count'})

tf['favorites_count']=tf['favorites_count'].replace(['None'], 0)
tf['default_profile']=tf['default_profile'].replace(['None'], False)
tf['default_profile_image']=tf['default_profile_image'].replace(['None'], False)
tf['favorites_count']=tf['favorites_count'].replace(['FALSE'], False)
tf['favorites_count']=tf['favorites_count'].replace(['TRUE'], True)
tf['favorites_count']=tf['favorites_count'].replace(['None'], False)
tf['default_profile']=tf['default_profile'].replace(['FALSE'], False)
tf['default_profile']=tf['default_profile'].replace(['TRUE'], True)
tf['default_profile']=tf['default_profile'].replace(['None'], False)
tf['default_profile_image']=tf['default_profile_image'].replace(['FALSE'], False)
tf['default_profile_image']=tf['default_profile_image'].replace(['TRUE'], True)
tf['default_profile_image']=tf['default_profile_image'].replace(['None'], False)
tf['verified']=tf['verified'].replace(['TRUE'], True)
tf['verified']=tf['verified'].replace(['FALSE'], False)
tf['verified']=tf['verified'].replace(['None'], False)
tf['followers_count']=tf['followers_count'].replace(['None'], 0)
tf['friends_count']=tf['friends_count'].replace(['None'], 0)
tf['statuses_count']=tf['statuses_count'].replace(['None'], 0)
tf['screen_name']=tf['screen_name'].str.contains('bot', na=False)
tf['name']=tf['name'].str.contains('bot', na=False)
tf['description']=tf['description'].str.contains('bot', na=False)
tf['created_at'] = tf['created_at'].str.replace('"', '')
tf['created_at']=pd.to_datetime(tf['created_at'])
tf['today']=now
tf['daysTillNow'] = tf['today']-tf['created_at']
tf['daysTillNow']=tf['daysTillNow'].dt.days
tf['statusPerDay']=tf['statuses_count']/tf['daysTillNow']

In [32]:
from sklearn.cross_validation import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df[['followers_count','screen_name',
                                                        'friends_count','description','verified','statusPerDay',
                                                        'favourites_count','default_profile','default_profile_image','name']],df['bot'] ,test_size=0.3, random_state=0)

In [25]:
testData=tf[['followers_count','friends_count','description',
             'verified',
             'favorites_count','statusPerDay','default_profile_image','default_profile','name']]
testData=testData[:575]

In [33]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(X_train, Y_train)
print ("Features sorted by their score:")
print (sorted(zip(map(lambda x: round(x, 4), rf.feature_importances_),X_train.columns.values.tolist()), 
             reverse=True))

Features sorted by their score:
[(0.41770000000000002, 'friends_count'), (0.22509999999999999, 'followers_count'), (0.13800000000000001, 'statusPerDay'), (0.095200000000000007, 'verified'), (0.080299999999999996, 'favourites_count'), (0.020799999999999999, 'description'), (0.0088999999999999999, 'default_profile_image'), (0.0077999999999999996, 'default_profile'), (0.0061999999999999998, 'screen_name'), (0.0, 'name')]

In [27]:
clf=RandomForestClassifier(n_estimators=175,max_features=3,min_samples_leaf=10)
model= clf.fit(X_train,Y_train)
predicted=model.predict(X_test)
predictedTest=model.predict(testData)
print('Accuracy of RandomForest is',accuracy_score(Y_test,predicted)*100,'%')
print(metrics.classification_report(Y_test,predicted))
print('AUC Score for Random forest is',metrics.roc_auc_score(Y_test, predicted))

Accuracy of RandomForest is 89.6428571429 %
             precision    recall  f1-score   support

          0       0.90      0.91      0.90       435
          1       0.90      0.89      0.89       405

avg / total       0.90      0.90      0.90       840

AUC Score for Random forest is 0.896083439762

In [28]:
dt = tree.DecisionTreeClassifier()
dt = dt.fit(X_train, Y_train)
predictedDT=dt.predict(X_test)
print('Accuracy of Decision Tree',accuracy_score(Y_test,predictedDT)*100,'%')
print(metrics.classification_report(Y_test,predictedDT))

Accuracy of Decision Tree 86.1904761905 %
             precision    recall  f1-score   support

          0       0.88      0.85      0.86       435
          1       0.84      0.87      0.86       405

avg / total       0.86      0.86      0.86       840

In [29]:
output=test[:575]
output['bot']=predictedTest

predictedTest

C:\Users\saura\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

array([0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0], dtype=int64)

In [30]:
nf=output[['id','bot']]

In [31]:
nf.to_csv('test.csv', index = False)